<component name="ArtifactManager">
  <artifact type="war" name="SpringKrestikiNoliki:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringKrestikiNoliki.war">
      <element id="artifact" artifact-name="SpringKrestikiNoliki:war exploded" />
    </root>
  </artifact>
</component>